{% extends "base.admin.html.twig" %}
{% block title %}{{ parent() }} - Validation inscription {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Validation inscription </h5>


                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"> Valider </button>

                </div>
            </div>
        </div>
    </div>


{% endblock %}